@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="@routes.Assets.versioned("images/favicon.png")">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="@routes.Assets.versioned("css/dashboard.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/flag-icon.css")">

    </head>

    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">AGODA DNS Routing</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a hred="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zones<span class="caret"></span></a>
                        <ul class="dropdown-menu" id="zones-dropdown">
                            <!--<li><a href="#">www</a></li>-->
                            <!--<li><a href="#">XML</a></li>-->
                            <!--&lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;-->
                            <!--<li><a href="#">search api</a></li>-->
                            <!--<li><a href="#">BF</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Dashboard</h1>

                <!--<div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary"><span class="flag-icon flag-icon-us"></span> ASH</button>
                    <button type="button" class="btn btn-primary"><span class="flag-icon flag-icon-nl"></span> AMS</button>
                    <button type="button" class="btn btn-primary"><span class="flag-icon flag-icon-cn"></span> SHA</button>
                </div>-->

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input id="filter" type="text" class="form-control" placeholder="Type here...">
                </div>

                <div class="alert alert-success" style="display: none">
                    <a class="close" onclick="$('.alert').hide()">×</a>
                    <strong>Success!</strong> Got invoked ok.
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Action</th>
                                <th>Points To</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            @content
                        </tbody>
                    </table>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span data-bind="label">Select One</span>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <!--<li><a href="#"><span class="flag-icon flag-icon-us"></span> ASH</a></li>-->
                                        <!--<li><a href="#"><span class="flag-icon flag-icon-nl"></span> AMS</a></li>-->
                                        <!--<li><a href="#"><span class="flag-icon flag-icon-sg"></span> SIN</a></li>-->
                                        <!--<li><a href="#"><span class="flag-icon flag-icon-hk"></span> HKG</a></li>-->
                                    </ul>
                                </div>
                                <br/>
                                <input type="checkbox" name="allDC"> Repeat this across all ZONES
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="updateInfo">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                @debug()
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
    <script>

        var global_selected = ""

        $(document).ready(function () {

            (function ($) {
                $('#filter').keyup(function () {
                    var rex = new RegExp($(this).val(), 'i');
                    $('.searchable tr').hide();
                    $('.searchable tr').filter(function () {
                        return rex.test($(this).text());
                    }).show();
                })
            }(jQuery));

            $.ajax({
                type: 'GET',
                url: '/getzones',
                success: function(data) {
                    console.log(data);
                    var zoneList = ""
                    $.each(data, function(key, object) {
                        $.each(object, function(key, value) {
                            zoneList = zoneList + "<li><a href=\"#\">" + value + "</a></li>"
                        });
                        console.log(zoneList)
                        $('#zones-dropdown').html(zoneList)
                    });
                }
            });

        });

        $('#updateInfo').on('click', function() {
            $.ajax({
                type: 'GET',
                url: '/update',
                data: {
                    from_ip: $('.dropdown-menu li a').attr('href'),
                    to_ip: global_selected
                },
                success: function(data) {
                    console.log(data);
                    $('.alert').show();
                    $('#myModal').modal('hide');
                }
            });
        });

        $('.dropdown-menu li a').click(function() {
            var selectedText = $(this).text();
            console.log(selectedText);
        });

        $( document.body ).on( 'click', '.dropdown-menu li', function( event ) {
          var $target = $( event.currentTarget );
          $target.closest( '.btn-group' )
             .find( '[data-bind="label"]' ).html( $target.html() )
                .end()
             .children( '.dropdown-toggle' ).dropdown( 'toggle' );
          return false;
       });

        $('#myModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var dc = button.data('dc') // Extract info from data-* attributes
          var product = button.data('product')
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('Route ' + product + ' traffic of ' + dc)

          var recordList = "";

          $.ajax({
                type: 'GET',
                url: '/failover',
                data: { record: dc },
                success: function(data) {
                    console.log(data);
                    $.each(data, function(key, object) {
                        $.each(object, function(key, value) {
                            recordList = recordList + "<li><a href=\"" + dc + "\">" + value + "</a></li>"
                        });
                        console.log(recordList)
                        $('.dropdown-menu').html(recordList)
                    });
                }
            });
          $(document).ajaxComplete(function() {
            $('.dropdown-menu li a').click(function() {
                var selectedText = $(this).text();
                console.log(selectedText);
                global_selected = selectedText;
            });
          });
          $('.alert').hide();
        })

    </script>
    </body>
</html>
